<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.bugbusters.acceleraudio"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <!-- 		APPLICATION		 -->
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name="DataRecord"/>
        
        <!-- 		SETTING UI1			 -->
        
        <activity android:name="team.bugbusters.acceleraudio.UI1" android:label="Overview (UI#1)">
            
        </activity> 
        
        <!--			SETTING UI2			-->
        
        <activity android:name="team.bugbusters.acceleraudio.UI2"
            android:label="Details (UI#2)" >
		</activity>
        
        <!-- 		SETTING UI3			-->
        
        <activity android:name="team.bugbusters.acceleraudio.UI3"
            android:label="New Music Session (UI#3)"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- 		SETTING UI4			 -->
        
        <activity android:name="team.bugbusters.acceleraudio.UI4"
            android:label="Play (UI#4)"
            android:configChanges="orientation">
        </activity>
        
        <!-- 		SETTING UI5			 -->
        
        <activity android:name="team.bugbusters.acceleraudio.UI5"
            android:label="Preferences (UI#5)">
        </activity>
        
    </application>

</manifest>
